// Variables
$cardWidth: 200px;
$cardHeight: 300px;


// Estilos generales
.container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px;
    width: 100%;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: fr 2fr 0.2fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
    justify-content: center;
    justify-items: center;

    header {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        width: 100%;
        display: flex;
        align-items: center;
        grid-area: header;
        flex-direction: column;
        background-color: #E5E5E3;
        z-index: 2;

        .navbar-toggler {
            z-index: 2;

        }


        .nav-item {
            color: #223064;
        }

        .sin-color {
            text-decoration: none;
            color: #223064;
        }

        .logos {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                .off-screen {
                    transform: translateX(-100vw);
                    width: 150px;

                }

                .animate {
                    transform: translateX(0);
                    transition: transform 1s ease;
                }
            }


            .navli {
                padding-top: 10px;
                display: flex;
                list-style: none;
                justify-content: space-evenly;
            }
        }
    }

    main {

        width: 100%;
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        background-color: #E5E5E3;

        .radius,
        .no-margin {
            opacity: 0;
            transform: translateY(50px);
            transition: opacity 0.8s ease, transform 0.8s ease;
        }

        .radius.animate,
        .no-margin.animate {
            opacity: 1;
            transform: translateY(0);
        }

        .section1 {
            padding-top: 10px;
            background-color: #223064;
            height: 300px;


            .no-margin {
                margin: 0px;
                margin-top: 5px;

                p {
                    color: #99badd;
                }
            }

            .radius {
                border-radius: 8px;
            }

            div {
                .button-opera {
                    height: 35px;
                    width: 120px;
                    border: 1px;
                    background-color: #223064;
                    border-radius: 8px;
                    border-color: #99badd;
                    border-style: solid;

                    a {
                        text-decoration: none;
                        color: #99badd;

                    }
                }
            }

            .button-abrir {
                height: 35px;
                width: 120px;
                background-color: #99badd;
                border-radius: 8px;
                border: 0.000000001px;
                border-style: solid;
                border-color: #99badd;

                a {
                    text-decoration: none;
                    color: #223064;

                }
            }

            .button-opera,
            .button-abrir {
                opacity: 0;
                transform: translateY(-50px);
                transition: opacity 0.8s ease, transform 0.8s ease;
            }

            .button-opera.animate,
            .button-abrir.animate {
                opacity: 1;
                transform: translateY(0);
            }





        }

        .section2 {
            padding-top: 10px;

            .contenedor {


                .oculto {
                    color: #223064;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;

                }

                .visible {
                    opacity: 1;
                }



            }

            .card {
                width: $cardWidth;
                height: $cardHeight;
                perspective: 1000px;
                transition: transform 0.5s;
                border: none;


                .card-inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    transform-style: preserve-3d; // Asegura que los hijos conserven su posición en 3D
                    transition: transform 0.5s;
                    margin: 0px;



                    // Estilo del contenido frontal de la tarjeta
                    .front,
                    .back {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        backface-visibility: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        color: white;
                        background-color: #223064;

                    }

                    // Estilo de la cara frontal
                    .front {
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            padding: 25px;
                            width: 60%;
                        }

                        .card-body {
                            padding-top: 60px;

                        }
                    }

                    // Estilo de la cara trasera
                    .back {
                        background-color: #99badd;
                        transform: rotateY(180deg);
                        border-radius: 8px;
                    }
                }

                // Estilo de la tarjeta al pasar el mouse
                &:hover {
                    .card-inner {
                        transform: rotateY(180deg);
                    }
                }
            }
        }

        .section1,
        .section2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                margin: 10px;
            }
        }
    }

    footer {
        padding: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: black;
        color: #E5E5E3;

        .footer-div {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

}

@media only screen and (min-width: 100px) {

    .container {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding: 0px;
        width: 100%;
        margin: 0;
        height: 100%;
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "main"
            "footer";
        grid-template-rows: 1fr 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        min-height: 100vh;
        justify-content: center;
        justify-items: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        width: 100%;
        display: flex;
        align-items: center;
        grid-area: header;
        flex-direction: column;
        background-color: #E5E5E3;
        z-index: 2;

        header {
            .logos {
                display: flex;

                a {
                    .off-screen {
                        width: 70px;
                    }

                }



                .img1 {
                    width: 2px;
                }

            }
        }
    }
}